# Auto detect text files and perform LF normalization
* text=auto

_temp/assets/js/vendor/**/*     linguist-vendored
_temp/assets/scss/vendor/**/*   linguist-vendored
src/assets/sass/components/**/* linguist-vendored
src/assets/js/vendor/*          linguist-vendored
