language: php

cache:
  directories:
    - node_modules
    - tasks

node_js:    
  - 0.12

php:
  - 5.4.45
  - 5.5
  - 5.6
  - 7.0
  
#Test future branches (cPanel reports 5.4.45 - 16/10/2015)
  
matrix:
  allow_failures:
    - php: 7.0
  fast_finish: true

#sudo: true

before_install:
  - travis_retry npm install -g grunt-cli
  - travis_retry gem install sass
  #- sudo add-apt-repository -y ppa:ondrej/php5
  #- sudo apt-get update -qq
  #- sudo apt-get install -y php5 php5-cli

install: travis_retry npm install --save-dev

before_script: phplint 'src/**/*php'

script: grunt

addons:
  code_climate:
    repo_token: 05aed1b3de739db215aaed9c2570beec072863dd25d4c1a19972618e6dd888a5
