language: php

cache:
  directories:
    - node_modules
    - tasks

node_js:    
  - 0.12

php:
  - 5.4.45
  
matrix:
  fast_finish: true

before_install:
  - travis_retry npm install -g grunt-cli
  - travis_retry gem install sass

install: travis_retry npm install --save-dev

before_script: phplint 'src/**/*php'

script: grunt

addons:
  code_climate:
    repo_token: 05aed1b3de739db215aaed9c2570beec072863dd25d4c1a19972618e6dd888a5
    
notifications:
  pushover:
    api_key: aPXbgLUnjBa797Q6Y142biLSdfmNKd
    users:
      - uq1zhMY8auEscjN54mo6W3jhjmVZrP
