language: node_js

cache:
  directories:
    - node_modules
    - tasks
    
node_js:
  - 0.11

before_install:
  - npm install -g grunt-cli
  - gem install sass

install: npm install --save-dev

addons:
  code_climate:
    repo_token: 05aed1b3de739db215aaed9c2570beec072863dd25d4c1a19972618e6dd888a5
