body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.container {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    opacity: 0;
}

.content {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: block;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bg {background-image:url('https://static.hummingbird.me/users/cover_images/000/042/603/thumb/data.jpg?1417551831')}









section:first-of-type {
  padding-top: 50vh;
}

section {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

/*
http://stackoverflow.com/questions/17550257/complicated-parallax-effect-element-positioning
http://codepen.io/kowalsky/pen/xgjFm
*/
