* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

section {
  width: 100%;
  min-height: 100vh;
  background: #009688;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

section:first-of-type {
  justify-content: center;
}

section > * {
  flex: 0 1 auto;
  align-self: auto;
}

h1,
h2 {
  font-size: 3em;
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

ul {
  list-style: none;
}
