* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

section {
  width: 100vw;
  height: 100vh;
  background: #009688;
  display: flex;
  align-items: center;
}
