body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

section:first-of-type {
  padding-top: 50vh;
}

section {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

/*
http://stackoverflow.com/questions/17550257/complicated-parallax-effect-element-positioning
http://codepen.io/kowalsky/pen/xgjFm
*/
