* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

section {
  width: 100%;
  min-height: 100vh;
  background: #605579;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

section:first-of-type {
  justify-content: center;
}

section > * {
  flex: 0 1 auto;
  align-self: auto;
}

h1,
h2 {
  font-size: 3em;
  font-weight: 400;
  font-family: 'Sansita One', cursive;
}

h1 {
  font-size: 4em;
}

ul {
  list-style: none;
}

.big {
  padding: 1em;
}

.big,
.big > span {
  font-size: 1.25em;
}

#snow {
  height: 100vh;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}
