@import 'susy';
@import 'breakpoint';

$wide: 1200px;

body {
    margin: 0;
    padding: 0;
}

div {
    @include container(970px);
    background: red;
    @include breakpoint($wide) {
        background: green;
    }
}
