@charset "UTF-8";
$rnd: random(39);
$species: Tori, Kakin, Washi, Kamo, Hato, Shirotori, Toriniku, Oumu, Shichimenchiyou, Fukurou, Suzume, Gachiyou, Kounotori, Ondori, Kitsutsuki, Dachiyou, Hato, Kanaria, Kiji, Mendori, Watarigarasu, Hibari, Yamauzura, Uzura, Hagetaka, Tsubame, Kuroutadori, Hayabusa, Taka, Kasasagi, Perikan, Misago, Menfukurou, Inuwashi, Hakutouwashi, Hachidori, Komadori, Akaonosuri, Tsuru;
//$species_jp: "とり", "かきん", "わし", "かも", "はと", "しろとり", "とりにく", "おうむ", "しちめんちよう", "ふくろう", "すずめ", "がちよう", "こうのとり", "おんどり", "きつつき", "だちよう", "はと", "かなりあ", "きじ", "めんどり", "わたりがらす", "ひばり", "やまうずら", "うずら", "はげたか", "つばめ", "くろうたどり", "はやぶさ", "たか", "かささぎ", "ぺりかん", "みさご", "めんふくろう", "いぬわし", "はくとうわし", "はちどり", "こまどり", "あかおのすり", "つる";
$nth: nth($species, $rnd);
//$nth_jp: nth($species, $rnd);


$version: "0.00.2";
$release: "#{$nth}";
//$release_jp: "#{$nth_jp}";
/*!
     Copyright \00a9 James Harris 2015.
     Version #{$version} (#{$release}).

     Any content, trademark(s), or other material remains the copyright of its respective owner(s). In no way do I claim ownership or responsibility for such items.

     -

*/

@import 'reset';
@import 'susy';
@import 'breakpoint';
@import 'hover/hover';

$footerHeight: 60px;

$green: #009688;
$secondary: #4C5C68;
$secondary-dark: #46494C;
$highlight: #DCDCDD;
$highlight-dark: #C5C3C6;

// Susy stuff
//$large-breakpoint: container(12);
//$gutter-width: 1em;
//$grid-padding: 1em;

#dploy {
    position: fixed;
    bottom: 0;
    right: 5px;
}

body {
    color: #333;
    background: #eee;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

header {
    width: 100%;
    line-height: 40px;
    background: #009688;
    color: #fff;
    position: fixed;
    top: 0;

    > div {
        @include container(970px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        > a {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-size: 18px;
            color: #fff;
            opacity: .84;
            text-decoration: none;
            border: 0;
            padding: .5em 0;

            &:after {
                content: "v#{$version} (#{$release})";
                font-size: .6em;
                line-height: 0px;
                padding-left: 1em;
            }
        }

        nav {
            order: 1;
            flex: 0 1 auto;
            align-self: auto;

            ul {
                padding: 0;
                list-style: none;
                margin-bottom: 0;
                float: right;
                margin-top: 0;

                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: .75em 0;
                    //margin-right: 1em;

                    &:after {
                        content: "\a0\00b7\a0";
                        padding: 0 3px;
                    }

                    &:last-of-type:after {
                        content: " ";
                        //margin-right: 0;
                    }

                    a {
                        color: #fff;
                        opacity: .84;
                        text-decoration: none;
                        border: 0;
                        transition: opacity .2s ease-in-out;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

cta {
    width: 100%;
    line-height: 40px;
    background: #009688;
    color: #fff;
    position: fixed;
    top: 61px;
}

section {
    @include container(970px);

    margin-top: 61px * 1.5;
    margin-bottom: $footerHeight
}

tracking {
    @include full;

    card {
        @include gallery(3 of 12);

        text-align: center;
        font-size: 2em;
        background: #fff;
        //box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
        box-shadow: 0 0 5px rgba(0,0,0,.1), 0 1px 5px rgba(0,0,0,.1);
        border-radius: 4px;
        padding: .75em 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        p {
            color: #009688;
        }

        small {
            font-size: .5em;
            font-weight: 400;
        }
    }
}

.title {
        font-size: 2em;
        font-family: "Nunito";
        font-weight: 300;
    }

popular {
    @include full;

    card {
        @include gallery(3 of 12);

        font-size: 1em;
        background: #fff;
        //box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
        box-shadow: 0 0 5px rgba(0,0,0,.1), 0 1px 5px rgba(0,0,0,.1);
        border-radius: 4px;
        padding: 0;
        overflow: hidden;
        position: relative;

        detail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            color: transparent;
            background: transparent;
            transition:all .6s cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
                color: #fff;
                //background: rgba(0,150,136,.8);
                //background: rgba(0,0,0,.7);
                background: rgba(0,0,0,.4);
            }

            show {
                font-size: 1.5em;
                margin-top: 1em;
            }

            season {
                display: absolute;
                bottom: 1em;
                left: 0;
                right: 0;
                width: 100%;
            }
        }

        poster, img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

popular:hover > poster img {
    -webkit-filter: blur(1px);
}

/*
small {
    font-family: 'Nunito', sans-serif;
}
*/

.headroom {
    transition: transform .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-65%);
}

row {
    width: 100%;
    nuck, broke, it {
        @include gallery(4 of 12);
    }
}
