@import 'reset';
@import 'susy';
@import 'breakpoint';
@import 'hover/hover';

// Susy stuff
$large-breakpoint: container(12);


/*div {
    @include container($container);
    background: red;
    @include breakpoint($wide) {
        background: green;
    }
}*/

#dploy {
    position: fixed;
    bottom: 0;
    right: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

header {
    width: 100%;
    line-height: 40px;
    background: #009688;
    color: #fff;
    position: fixed;
    top: 0;

    > div {
        @include container(970px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        > a {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            font-size: 18px;
            color: #fff;
            opacity: .84;
            text-decoration: none;
            border: 0;
            padding: .5em 0;
        }

        nav {
            order: 1;
            flex: 0 1 auto;
            align-self: auto;

            ul {
                padding: 0;
                list-style: none;
                margin-bottom: 0;
                float: right;
                margin-top: 0;

                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: .75em 0;
                    margin-right: 1em;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    a {
                        color: #fff;
                        opacity: .84;
                        text-decoration: none;
                        border: 0;
                    }
                }
            }
        }
    }
}

section {
    @include container(970px);

    margin-top: 67px;
}

.section-1 {
    @include span(12);

    div {
        @include span(3 of 12);

        display: inline-block;
    }
}

small {
    font-family: 'Open Sans Condensed', sans-serif;
}

.headroom {
    transition: transform .6s cubic-bezier(0.19, 1, 0.22, 1);
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-65%);
}

row {
    width: 100%;
    nuck, broke, it {
        @include gallery(4 of 12);
    }
}
