@import 'susy';
@import 'breakpoint';
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto);

$wide: 1200px;
$container: 970px;

div {
    @include container($container);
    background: red;
    @include breakpoint($wide) {
        background: green;
    }
}

#dploy {
    position: absolute;
    bottom: 0;
    right: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    line-height: 40px;
    background: #333;
    color: #fff;

    div {
        @include container($container);

        ul {
            padding: 0;
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            float: right;

            li {
                display: inline-block;
            }
        }
    }
}

small {
    font-family: 'Roboto Condensed', sans-serif;
}
