@import 'susy';
@import 'breakpoint';

$wide: 1200px;

body {
    margin: 0;
    padding: 0;
}

p {
    @include container(970px);
    background: red;
    @include breakpoint($wide) {
        background: green;
    }
}

#dploy {
    position: absolute;
    bottom: 0;
    right: 0;
}
