@import 'susy';
@import 'breakpoint';

$wide: 1200px;

/*div {
    @include container($container);
    background: red;
    @include breakpoint($wide) {
        background: green;
    }
}*/

#dploy {
    position: fixed;
    bottom: 0;
    right: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

header {
    width: 100%;
    line-height: 40px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;

    div {
        @include container(970px);

        span {
            display: inline-block;
            padding: 1em 0;
            a {
                color: #fff;
                text-decoration: none;
                border: 0;
            }
        }

        nav {
            display: block;
        }

        ul {
            padding: 0;
            list-style: none;
            margin-bottom: 0;
            float: right;
            margin-top: 0;

            li {
                display: inline-block;
            }
        }
    }
}

small {
    font-family: 'Roboto Condensed', sans-serif;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
