$background-colour: #ECEFF1; //White
$background-colour-2: darken(#ECEFF1, 5%);

$font-colour: #FEFEFE; //White
$font-colour-2: #788288 //Grey;

$accent-colour: #383643; //Black
$accent-colour-2: #EB4864; //Pink
