$background-color: #ECEFF1; //White
$background-color-2: darken(#ECEFF1, 5%);

$font-color: #FEFEFE; //White
$font-color-2: #788288; //Grey

$accent-color: #383643; //Black
$accent-color-2: #EB4864; //Pink
