@charset "UTF-8";
$rnd: random(39);
$species: 'Tori', 'Kakin', 'Washi', 'Kamo', 'Hato', 'Shirotori', 'Toriniku', 'Oumu', 'Shichimenchiyou', 'Fukurou', 'Suzume', 'Gachiyou', 'Kounotori', 'Ondori', 'Kitsutsuki', 'Dachiyou', 'Kanaria', 'Kiji', 'Mendori', 'Watarigarasu', 'Hibari', 'Yamauzura', 'Uzura', 'Hagetaka', 'Tsubame', 'Kuroutadori', 'Hayabusa', 'Taka', 'Kasasagi', 'Perikan', 'Misago', 'Menfukurou', 'Inuwashi', 'Hakutouwashi', 'Hachidori', 'Komadori', 'Akaonosuri', 'Tsuru';
$nth: nth($species, $rnd);


$version: '0.0.2';
$release: '#{$nth}';

/*!
     Copyright © James Harris 2015.
     Version #{$version} (#{$release}).

     Any content, trademark(s), or other material remains the copyright of its respective owner(s). In no way do I claim ownership or responsibility for such items.
*/
