footer {
    line-height: 40px;
    font-size: .9em;

    padding: .5rem 12rem;
    color: $font-colour;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    div,
    a { color: $font-colour; }

    div,
    >a {
        order: 0;
        flex: 0 1 100%;
        text-align: left;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: row;
    }

    #deploy {
        justify-content: center;
        align-self: center;
    }

    div:last-of-type {
        justify-content: flex-end;
        text-align: right;
    }

    a:not(>a) {
        text-decoration: none;
        color: $font-colour;
        transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        &:first-of-type { padding-right: 1rem; }
        &:hover { color: $accent-colour-2; }
    }
}
