footer {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: .9em;
  justify-content: flex-start;
  line-height: 40px;
  padding: .5rem 12rem;

  div {
    align-items: stretch;
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    justify-content: space-between;
    order: 0;
    text-align: left;

    &:last-of-type {
      justify-content: flex-end;
      text-align: right;
    }
  }

  div,
  a { color: $white; }

  a {
    color: $white;
    text-decoration: none;
    transition: all 400ms cubic-bezier(.19, 1, .22, 1);
    
    &:not(:first-of-type) { padding-left: 1rem; }
    &:hover { color: $accent-secondary; }
  }

  .status {
    height: 0;
    position: relative;
    top: 6px;
  }
}
