body {
  min-height: 100vh;
  overflow-y: scroll;
  background: $background-color;
  color: $accent-color;
  font-family: "Fira Sans", sans-serif;
  font-family: "Fira Sans", Meiryo, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.4rem;
}

body,
#content {
  display: flex;
  flex-direction: column;
}

#content {
	padding-bottom: 2rem;
}

aside {
  z-index: 999;
  &:first-of-type {
    order: -1;
  }
}

header, footer {
  //flex: non
  padding: .5rem;
  background-color: $accent-color;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	padding-top: 2rem;
}

@media (min-width: 768px) {
  #content {
    flex-direction: row;
    flex: 1;
  }
  main {
    flex: 1;
  }
  aside {
    /* 12em is the width of the columns */
    flex: 0 0 12rem;
  }
}
