@media (min-width: 768px) {
  .cover {
    position: relative;
    margin-left: -12rem;
  }
}

// ---------- // CONTENT

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  width: calc(100vw - 17px);
  height: 400px;
  // 17px = width of scrollbar
}

.user {
  display: flex;
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;

  .user---avatar {
    align-self: middle;
    flex: 0 1 140px;
    position: relative;
    top: -4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    width: 120px;
    height: 120px;

    //margin: 0 auto;
  }
  .user---name {
    display: inline-block;
    flex: 0 1 calc(50%);
    font-size: 2.5em;
    padding-top: 1.2rem;
    margin: 0;
    order: -1;

  }
  .user---update {
    flex: 0 1 calc(50%);
    padding-top: 1rem;
    text-align: right;

    //padding-top: .5rem;
    //padding-top: 1rem;

    button {
      font-size: .9em;
      background: $accent-color-2;
      color: $font-color;
      padding: .8rem 1rem;
      border: 0;
      border-radius: 4px;
      //padding: 1rem 2rem;
      @include elevation( 1 );
    }
  }
}

.user---details {
  p {
    font-size: 2em;
  }
  .grid {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;

    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      font-weight: 300;
      background-color: #fff;
      padding: 1rem 2rem;
      margin: .5rem;
      border-radius: 4px;
      text-align: center;
      min-width: auto;
      @include elevation( 1 );

      small {
        font-size: 1em;
        padding-bottom: .75rem;
      }
      span {
        font-size: 1.5em;
        font-weight: 700;
        small {
          font-weight: 300;
          //font-size: 1rem;
        }
      }
    }
  }


  /*p {
    font-size: 2em;
    flex: 0 1 calc(50% - 2.5rem);
    margin-right: 1rem;
    //padding: 1rem;

    small {
      padding-top: .5rem;
      display: block;
      font-size: .5em;
    }
    &:nth-of-type(even) {
      text-align: right;
      margin-right: 0;
    }
  }*/
}

.user---recent {
  >p {
    font-size: 2em;

    button {
      float: right;
      padding: .8rem 1rem;
      font-size: .9rem;
      background: $accent-color-2;
      color: $font-color;
      border-radius: 4px;
      border: 0;
      @include elevation( 1 );
    }
  }

  .grid {
	  display: flex;
	  align-content: stretch;
	  align-items: center;
	  justify-content: center;
    justify-content: flex-start;
	  flex-direction: row;
	  flex-wrap: wrap;
	  background-color: #ECEFF1;
	  height: 100%;
	  transition: all 500ms;
	  transition-delay: 200ms;
    //padding-top: 40px;

		&.is-expanded {
      background-color:	$background-color; }

	  .card {
	    align-self: auto;
	    flex: 0 1 auto;
      flex-grow: 1;
	    box-sizing: border-box;
	    box-sizing: border-box;
	    position: relative;
	    background-color: #FFF;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	    cursor: default;
      margin: .5rem;
	    border-radius: 4px;
	    overflow: hidden;
	    width: 215px;
	    height: 320px;
	    order: 0;


		  &:hover {
        .fab {
			    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1), background-color .4s cubic-bezier(0.215, 0.61, 0.355, 1);
			    transition-delay: 200ms;
			    transform: scale(30);
          background-color: $accent-color-2;
        }
        .fab:before {
			    transform: scale(6);
          opacity: 0;
			    transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
			    border: 3px solid $accent-color-2;
        }
			  .card__content {
			    opacity: 1;
        }
			    transition: all 400ms;
			    transition-delay: 400ms;
		  }
	  }

	  .card__header {
	    background-color: $accent-color;
	    background-image:   url("https://static.hummingbird.me/anime/poster_images/000/008/644/large/i0933FWwzmR0C.jpg?1425582637");
      cursor: pointer;
	    height: 100%;
		  background-size:cover;
    }

	  .card__content {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    color: lighten( $accent-color-2, 30% );
      p:not(.r) {
		    position: absolute;
		    left: 0;
		    width: 100%;
		    text-align: center;
	    opacity: 0;
	    width: 100%;
	    height: 100%;
	    transition: all 200ms;
	    transition-delay: 0ms;
	    //pointer-events: none;

	    }
      .e {
		    position: absolute;
		    top: 54px;
		    left: 0;
		    width: 100%;
		    text-align: center;
	    }
      .t {
		    position: absolute;
		    bottom: 90px;
		    left: 0;
		    width: 100%;
		    text-align: center;
	    }
	    .r {
		    position: absolute;
		    bottom: 34px;
		    left: 0;
		    font-size: 3em;
		    margin: 0;
		    text-align: center;
		    width: 100%;
	    }
      .w {
        position: absolute;
        bottom: 16px;
        font-size: 1em;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
      }
	    small {
		    display: block;
		    padding-top: 4px;
		    opacity: .4;
	    }
	    a,
      button {
        position: absolute;
        top: 97px;
        left: 0;
        margin: 0 10%;
		    width: 80%;
		    height: 40px;
		    border-radius: 4px;
		    text-align: center;
		    line-height: 40px;
		    background: white;
		    color: orange;
        text-decoration: none;
        &:last-of-type {
          top: 157px;
        }

	    }
    }

    .fab {
      display: block;
      position: absolute;
	    right: 16px;
      top: 0;
	    background-color: transparent;
	    border: none;
	    border-radius: 50%;
	    outline: none;
	    width: 52px;
	    height: 52px;
	    transform: translateY( -125% );
	    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	    transition-dealy: 200ms;
	    //@include elevation( 2 );

		  &:before {
		    content: "";
		    box-sizing: border-box;
		    position: absolute;
		    top: 0;
		    left: 0;
		    border: 2px solid transparent;
		    border-radius: 50%;
		    opacity: 1;
		    width: 100%;
		    height: 100%;
		    transition: all 0ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
      }
    }
  }
}
