body {
    min-height: 100vh;
    overflow-y: scroll;

    background: $bg-colour;
    color: $font-colour-2;
    color: $accent-colour;

    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}

body,
#content {
    display: flex;
    flex-direction: column;
}

aside {
    z-index: 999;
    &:first-of-type {
        order: -1;
    }
}

header,
footer {
    padding: .5rem;
    background-color: $accent-colour;
    text-align: center;
}
