@media (min-width: 768px) {
  .cover {
    margin-left: -12rem;
    position: relative;
  }
}

// ---------- // CONTENT

.cover {
  // 17px = width of scrollbar
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: calc(100vw - 17px);
}

.user {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .user---avatar {
    //margin: 0 auto;
    align-self: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    flex: 0 1 140px;
    height: 120px;
    position: relative;
    top: -4rem;
    width: 120px;
  }

  .user---name {
    display: inline-block;
    flex: 0 1 calc(50%);
    font-size: 2.5em;
    margin: 0;
    order: -1;
    padding-top: 1.2rem;

  }

  .user---update {
    //padding-top: .5rem;
    //padding-top: 1rem;
    flex: 0 1 calc(50%);
    padding-top: 1rem;
    text-align: right;

    button {
      @include elevation(1);
      //padding: 1rem 2rem;
      background: $accent-secondary;
      border: 0;
      border-radius: 4px;
      color: $white;
      font-size: .9em;
      padding: .8rem 1rem;
    }
  }
}

.user---details {
  p { font-size: 2em; }

  .grid {
    //justify-content: center;
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .card {
      align-items: center;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-weight: 300;
      margin: .5rem;
      min-width: auto;
      padding: 1rem 2rem;
      text-align: center;
      @include elevation(1);

      small {
        font-size: 1em;
        padding-bottom: .75rem;
      }

      span {
        font-size: 1.5em;
        font-weight: 700;

        small { font-weight: 300; }
      }
    }
  }


  /*p {
    font-size: 2em;
    flex: 0 1 calc(50% - 2.5rem);
    margin-right: 1rem;
    //padding: 1rem;

    small {
      padding-top: .5rem;
      display: block;
      font-size: .5em;
    }
    &:nth-of-type(even) {
      text-align: right;
      margin-right: 0;
    }
  }*/
}

.user---recent {
  >p {
    font-size: 2em;

    button {
      background: $accent-secondary;
      border-radius: 4px;
      border: 0;
      color: $white;
      float: right;
      font-size: .9rem;
      padding: .8rem 1rem;
      @include elevation(1);
    }
  }

  .grid {
	  align-content: stretch;
	  align-items: center;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  height: 100%;
	  justify-content: center;
	  transition-delay: 200ms;
	  transition: all 500ms;
    //padding-top: 40px;
    justify-content: flex-start;

		&.is-expanded { background-color:	$background; }

	  .card {
	    align-self: auto;
	    background-color: $white;
	    border-radius: 4px;
	    @include elevation(1);
	    cursor: default;
	    flex: 0 1 auto;
	    height: 320px;
	    order: 0;
	    overflow: hidden;
	    position: relative;
	    width: 215px;
      flex-grow: 1;
      margin: .5rem;

		  &:hover {
        transition: all 400ms;
        transition-delay: 400ms;

        .fab {
          background-color: $accent-secondary;
			    transform: scale(30);
			    transition-delay: 200ms;
			    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1),
                      background-color .4s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .fab:before {
			    border: 3px solid $accent-secondary;
			    transform: scale(6);
			    transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
          opacity: 0;
        }

			  .card__content {
			    opacity: 1;
        }
		  }
	  }

	  .card__header {
		  background-size:cover;
	    background-color: $accent-primary;
	    background-image: url("https://static.hummingbird.me/anime/poster_images/000/008/644/large/i0933FWwzmR0C.jpg?1425582637");
	    height: 100%;
      cursor: pointer;
    }

	  .card__content {
	    align-items: center;
	    bottom: 0;
	    color: lighten( $accent-secondary, 30% );
	    display: flex;
	    justify-content: center;
	    position: absolute;
	    top: 0;

      p:not(.r) {
		    left: 0;
		    position: absolute;
		    text-align: center;
		    width: 100%;
	      //pointer-events: none;
	      height: 100%;
	      opacity: 0;
	      transition-delay: 0ms;
	      transition: all 200ms;
	      width: 100%;

	    }
      .e {
		    position: absolute;
		    top: 54px;
		    left: 0;
		    width: 100%;
		    text-align: center;
	    }
      .t {
		    position: absolute;
		    bottom: 90px;
		    left: 0;
		    width: 100%;
		    text-align: center;
	    }
	    .r {
		    position: absolute;
		    bottom: 34px;
		    left: 0;
		    font-size: 3em;
		    margin: 0;
		    text-align: center;
		    width: 100%;
	    }
      .w {
        position: absolute;
        bottom: 16px;
        font-size: 1em;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
      }
	    small {
		    display: block;
		    padding-top: 4px;
		    opacity: .4;
	    }
	    a,
      button {
        position: absolute;
        top: 97px;
        left: 0;
        margin: 0 10%;
		    width: 80%;
		    height: 40px;
		    border-radius: 4px;
		    text-align: center;
		    line-height: 40px;
		    background: $white;;
		    color: $accent-secondary;
        text-decoration: none;
        font-weight: 500;
        &:last-of-type {
          top: 157px;
        }

	    }
    }

    .fab {
      display: block;
      position: absolute;
	    right: 16px;
      top: 0;
	    background-color: transparent;
	    border: none;
	    border-radius: 50%;
	    outline: none;
	    width: 52px;
	    height: 52px;
	    transform: translateY( -125% );
	    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	    transition-dealy: 200ms;
	    //@include elevation( 2 );

		  &:before {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    border: 2px solid transparent;
		    border-radius: 50%;
		    opacity: 1;
		    width: 100%;
		    height: 100%;
		    transition: all 0ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
      }
    }
  }
}
