@media (min-width: 768px) {
  .cover {
    margin-left: -12rem;
    position: relative;
  }
}

// ---------- // CONTENT

.cover {
  // 17px = width of scrollbar
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: calc(100vw - 17px);
}

.user {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .user-avatar {
    //margin: 0 auto;
    align-self: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    flex: 0 1 140px;
    height: 120px;
    position: relative;
    top: -4rem;
    width: 120px;
  }

  .user-name {
    display: inline-block;
    flex: 0 1 calc(50%);
    font-size: 2.5em;
    margin: 0;
    order: -1;
    padding-top: 1.2rem;

  }

  .user-update {
    //padding-top: .5rem;
    //padding-top: 1rem;
    flex: 0 1 calc(50%);
    padding-top: 1rem;
    text-align: right;

    button {
      @include elevation(1);
      //padding: 1rem 2rem;
      background: $accent-secondary;
      border: 0;
      border-radius: 4px;
      color: $white;
      font-size: .9em;
      padding: .8rem 1rem;
    }
  }
}

.user-details {
  p { font-size: 2em; }

  .grid {
    //justify-content: center;
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .card {
      @include elevation(1);
      align-items: center;
      background-color: $white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-weight: 300;
      margin: .5rem;
      min-width: auto;
      padding: 1rem 2rem;
      text-align: center;

      small {
        font-size: 1em;
        padding-bottom: .75rem;
      }

      span {
        font-size: 1.5em;
        font-weight: 700;

        small { font-weight: 300; }
      }
    }
  }


  /*p {
    font-size: 2em;
    flex: 0 1 calc(50% - 2.5rem);
    margin-right: 1rem;
    //padding: 1rem;

    small {
      padding-top: .5rem;
      display: block;
      font-size: .5em;
    }
    &:nth-of-type(even) {
      text-align: right;
      margin-right: 0;
    }
  }*/
}

.user-recent {
  >p {
    font-size: 2em;

    button {
      @include elevation(1);
      background: $accent-secondary;
      border: 0;
      border-radius: 4px;
      color: $white;
      float: right;
      font-size: .9rem;
      padding: .8rem 1rem;
    }
  }

  .grid {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    transition: all 500ms;
    transition-delay: 200ms;
    //padding-top: 40px;

    &.is-expanded { background-color: $background; }

    .card {
      @include elevation(1);
      align-self: auto;
      background-color: $white;
      border-radius: 4px;
      cursor: default;
      flex: 0 1 auto;
      flex-grow: 1;
      height: 320px;
      margin: .5rem;
      order: 0;
      overflow: hidden;
      position: relative;
      width: 215px;

      &:hover {
        transition: all 400ms;
        transition-delay: 400ms;

        .fab {
          background-color: $accent-secondary;
          transform: scale(30);
          transition: all 1s cubic-bezier(.215, .61, .355, 1),
                      background-color .4s cubic-bezier(.215, .61, .355, 1);
          transition-delay: 200ms;

          &:before {
            border: 3px solid $accent-secondary;
            opacity: 0;
            transform: scale(6);
            transition: all 800ms cubic-bezier(.190, 1, .22, 1);
          }
        }

        .card-content {
          opacity: 1;
        }
      }
    }

    .card-header {
      background-color: $accent-primary;
      background-image: url('https://static.hummingbird.me/anime/poster_images/000/008/644/large/i0933FWwzmR0C.jpg?1425582637');
      background-size: cover;
      cursor: pointer;
      height: 100%;
    }

    .card-content {
      align-items: center;
      bottom: 0;
      color: lighten($accent-secondary, 30%);
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;

      p:not(.r) {
        //pointer-events: none;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        transition: all 200ms;
        transition-delay: 0ms;
        width: 100%;
      }

      .e {
        left: 0;
        position: absolute;
        text-align: center;
        top: 54px;
        width: 100%;
      }

      .t {
        bottom: 90px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      .r {
        bottom: 34px;
        font-size: 3em;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      .w {
        bottom: 16px;
        font-size: 1em;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      small {
        display: block;
        opacity: .4;
        padding-top: 4px;
      }

      a,
      button {
        background: $white;
        border-radius: 4px;
        color: $accent-secondary;
        font-weight: 500;
        height: 40px;
        left: 0;
        line-height: 40px;
        margin: 0 10%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 97px;
        width: 80%;

        &:last-of-type { top: 157px; }
      }
    }

    .fab {
      //@include elevation(2);
      background-color: transparent;
      border: 0;
      border-radius: 50%;
      display: block;
      height: 52px;
      outline: none;
      position: absolute;
      right: 16px;
      top: 0;
      transform: translateY(-125%);
      transition: all 500ms cubic-bezier(.23, 1, .32, 1);
      transition-delay: 200ms;
      width: 52px;

      &:before {
        border: 2px solid transparent;
        border-radius: 50%;
        content: '';
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: all 0ms cubic-bezier(.19, 1, .22, 1);
        width: 100%;
      }
    }
  }
}
