header {
    padding: .5rem;
    background-color: $accent-colour;
    color: $font-colour;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;

    >a {
        color: $accent-colour-2;
        font-weight: 400;
        line-height: 40px;
        word-spacing: .08em;
        text-decoration: none;
        display: inline-block;
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    }

    div {
        width: auto;
        display: inline-block;
        order: 0;
        flex: 0 1 calc(50%);
        text-align: right;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        flex-direction: row;

        &:last-of-type {
            justify-content: flex-start;

            a {
                margin: 0 0 0 28px;

                &:first-of-type { margin-left: calc(20px * 2); }
            }
        }

        a {
            color: $font-colour;
            display: inline;
            margin: 0 20px 0 0;
            line-height: 40px;
            text-decoration: none;
            transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);

            &:hover { color: $accent-colour-2; }
            &:last-of-type { margin-right: calc(20px * 2);
            }
        }
    }
}
