header {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  >a {
    align-self: middle;
    color: $accent-secondary;
    display: inline-block;
    flex: 0 1 auto;
    font-weight: 600;
    line-height: 40px;
    order: 0;
    text-decoration: none;
    word-spacing: .08em;
  }

  div {
    align-items: stretch;
    display: flex;
    flex: 0 1 calc(50%);
    flex-direction: row;
    justify-content: flex-end;
    order: 0;
    text-align: right;
    width: auto;

    &:last-of-type {
      justify-content: flex-start;

      a {
        padding: 0 0 0 20px;

        &:first-of-type { padding-left: calc(20px * 2); }
      }
    }

    a {
		  line-height: 40px;
		  padding: 0 20px 0 0;
      color: $white;
      display: inline;
      text-decoration: none;
      transition: all 400ms cubic-bezier(.19, 1, .22, 1);

      &:hover { color: $accent-secondary; }

      &:last-of-type { padding-right: calc(20px * 2); }
    }
  }
}
