// COVER

.cover {
  // 17px = width of scrollbar
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: calc(100vw - 17px);
}

@media (min-width: 768px) {
  .cover {
    margin-left: -12rem;
    position: relative;
  }
}

// USER INFO

.user {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.user-avatar {
  //margin: 0 auto;
  align-self: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex: 0 1 140px;
  min-width: 120px;
  height: 120px;
  position: relative;
  top: -3rem;
  width: 120px;
}

.user-name {
  display: inline-block;
  flex: 0 1 calc(50%);
  font-size: 2.5em;
  margin: 0;
  order: -1;
  padding-top: 1.2rem;
}

.user-update {
  //padding-top: .5rem;
  //padding-top: 1rem;
  flex: 0 1 calc(50%);
  padding-top: 1rem;
  text-align: right;
  
  /*
  button {
    @include elevation(1);
    //padding: 1rem 2rem;
    background: $accent-secondary;
    border: 0;
    border-radius: 4px;
    color: $white;
    font-size: .9em;
    padding: .8rem 1rem;
  }
  */
}

.user-bio {
  padding: 1em 0;
}

.user-details {
  p { font-size: 2em; }
}
