* {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
}

main {
    width: 970px;
    margin: 0 auto;
}

.panel {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

#dploy {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
