@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #eee;
}

main {
    width: 970px;
    margin: 0 auto;
}

.panel {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.caption {
    padding: 9px;
}

.caption .lead {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 9px;
}

.caption p:not(.lead) {
    font-size: 16px;
}

#dploy {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}
