Redirect 302 /hb/*  https://hb.wopian.me        [NC,L]
Redirect 302 /hb/   https://hb.wopian.me        [NC,L]
Redirect 302 /hb    https://hb.wopian.me        [NC,L]

Redirect 302 /dev/* https://dev.hb.wopian.me    [NC,L]
Redirect 302 /dev/  https://dev.hb.wopian.me    [NC,L]
Redirect 302 /dev   https://dev.hb.wopian.me    [NC,L]

Redirect 302 /i/*   https://i.wopian.me         [NC,L]
Redirect 302 /i/    https://i.wopian.me         [NC,L]
Redirect 302 /i     https://i.wopian.me         [NC,L]
