<IfModule mod_rewrite.c>
  Options +FollowSymLinks -MultiViews

  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^(www\.)(.+) [OR]
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} ^(www\.)?(.+)
  RewriteRule ^ https://%2%{REQUEST_URI} [R=301,L]

  # RewriteBase /

  # Redirect /users|/covers
  RewriteCond  %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^sitemap.xml$ sitemap.php [L]
  
  RewriteRule ^tos.php$ /tos [NC,L]

  RewriteRule ^info /assets/modules/info/info.php [NC,L]
  RewriteRule ^status http://uptime.statuscake.com/?TestID=AvWM56tKLB [NC,L]

  RewriteRule ^([A-Za-z0-9_-]+)/library/?$ /library.php?user=$1 [NC,L]
  RewriteRule ^([A-Za-z0-9_-]+)/library/([A-Za-z0-9-]+)/?$ /library.php?user=$1&status=$2 [NC,L]
  RewriteRule ^([A-Za-z0-9_-]+)/compare/([A-Za-z0-9-]+)/?$ /compare.php?user=$1&user2=$2 [NC,L]
  # RewriteRule ^([A-Za-z0-9_-]+)/cover/?$ /cover.php [NC,L]
  RewriteRule ^([A-Za-z0-9_-]+)/?$ /users.php?user=$1 [NC,L]

</IfModule>

# <IfModule mod_deflate.c>
#   AddOutputFilterByType DEFLATE text/plain
#   AddOutputFilterByType DEFLATE text/html
#   AddOutputFilterByType DEFLATE text/xml
#   AddOutputFilterByType DEFLATE text/css
#   AddOutputFilterByType DEFLATE application/xml
#   AddOutputFilterByType DEFLATE application/xhtml+xml
#   AddOutputFilterByType DEFLATE application/rss+xml
#   AddOutputFilterByType DEFLATE application/javascript
#   AddOutputFilterByType DEFLATE application/x-javascript
#   AddOutputFilterByType DEFLATE image/jpeg
#   AddOutputFilterByType DEFLATE image/png
#   AddOutputFilterByType DEFLATE image/svg+xml
#   AddOutputFilterByType DEFLATE application/x-font-ttf
#   AddOutputFilterByType DEFLATE application/font-woff
#   AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
#   AddOutputFilterByType DEFLATE application/x-font-otf
# </IfModule>

# <IfModule mod_expires.c>
#   ExpiresActive On
#   ExpiresByType text/css               "access plus 1 year"
#   ExpiresByType text/javascript        "access plus 1 year"
#   ExpiresByType application/javascript "access plus 1 year"
#   ExpiresByType image/x-icon           "access plus 1 year"
#   ExpiresByType image/jpeg             "access plus 1 year"
#   ExpiresByType image/png              "access plus 1 year"
#   ExpiresByType font/ttf               "access plus 1 month"
#   ExpiresByType font/woff              "access plus 1 month"
# </IfModule>
